.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    margin: 100px auto;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
    margin: 100px 0 0 500px;
}