.sidebar {
    display: flex;
    /*transition-duration: 1500ms;*/
    transform: translate(-280px);
}
.active {
    /*font-size: 24px;*/
    /*color: red;*/
}
.link {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.sidebar.open {
    /*transition-duration: 500ms;*/
    transform: translate(0px);
}

.background {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
