.sidebar {
    margin-bottom: 30px;
    display: flex;
    height: 50px;
    width: 350px;
    align-items: end;
    transition-duration: 1500ms;
    transform: translate(-280px);
}
.active {
    font-size: 24px;
    color: red;
}
.link {

}

.sidebar.open {
    transition-duration: 500ms;
    transform: translate(0px);
}

.background {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
