.input:focus {
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
}

.error {
    position: relative;
    top: -25px;
    left: -370px;
    font-size: 10px;
    color: #cc1439;
}
