* {
    font-family: Roboto, sans-serif;
}

.item td {
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
}

.item:last-of-type td {
    border-bottom: none;
}

.users {
}

.buttonsContainer {
    display: flex;
    gap: 15px;
    padding-left: 200px;
    padding-bottom: 18px;
}

.container {
}


.thead thead{
    display: flex;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 200px 0 16px;
}

.thead tr td:first-of-type{
    font-weight: 600;
    background: #e5e5e5;
    height: 36px;
    width: 300px;
}

.nameCol {
    padding-left: 16px;
}

.ageCol {
    display: block;
    height: 36px;
    background-color: #e5e5e5;
    margin-left: -2px;
    padding: 8px 0 0 100px;
    font-weight: 600;
}


.item td:last-of-type {
    padding: 0 205px 0 105px;
}
