.burgerMenuIcon {
    padding-left: 73px ;
}

.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}
.header span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    align-self: center;
    padding-right: 70px;
}

h1 {
    padding-left: 150px;
}