.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    color: red;
    background: blue;
}

.disabled {

}

.secondary {

}

.default {

}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
