.container {
}


.wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}


.number {
    display: block;
    min-width: 30px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 8px;
}

.number:last-of-type {
    padding-left: 20px;
}
